# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.log

# Virtual envs
.venv/
venv/
env/
*/.venv/
*/venv/
*/env/

# IDE/editor
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Django static/media
/staticfiles/
/media/

# Databases (lokaal)
*.sqlite3

# Secrets
.env
*.key
*.pem

# Node (indien aanwezig)
node_modules/
dist/
build/

# Packaging
*.egg-info/
