<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scannerapp">

    <!-- Camera-permissie -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:label="ScannerApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        
        <!-- ScannerActivity -->
        <activity android:name=".ScannerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Als je een aparte activity hebt voor de backend response, declareer die ook -->
    </application>
</manifest>
