{% extends 'base.html' %}
{% load static %}
{% block title %}Klantendossiers{% endblock %}

{% block content %}
<h1>Klantendossiers</h1>
<a href="{% url 'klanten:dossier_create' %}">Nieuw dossier aanmaken</a>
<ul>
    {% for dossier in dossiers %}
        <li>
            <a href="{% url 'klantdossier:dossier_detail' dossier.klant.id %}" onclick="event.stopPropagation();">
                {{ dossier.klant.naam }}
            </a>
        </li>
    {% empty %}
        <li>Geen dossiers gevonden.</li>
    {% endfor %}
</ul>
{% endblock %}
