{% extends 'base.html' %}
{% load static %}
{% block title %}Nieuwe NZA Code{% endblock %}
{% block content %}
<h1>Nieuwe NZA Code Toevoegen</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <h2>Werkfases</h2>
    {{ formset.management_form }}
    {% for form in formset %}
        <div style="border:1px solid #ccc; padding: 10px; margin-bottom: 10px;">
            {{ form.as_p }}
        </div>
    {% endfor %}
    <button type="submit">Opslaan</button>
</form>
{% endblock %}
