{% extends 'base.html' %}
{% load static %}
{% block title %}Marketing Campagnes{% endblock %}
{% block content %}
<h1>Marketing Campagnes</h1>

<style>
  .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #666;  /* grijs */
  color: #fff;
  border: 1px solid #555;
  border-radius: 4px;
  text-decoration: none;  /* verwijdert de standaard onderstreping */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.btn:hover {
  background-color: #777;
}
</style>
<a href="{% url 'marketing_add' %}"  class="btn">Nieuwe campagne toevoegen</a>
<a href="{% url 'marketing_history' %}" class="btn">Bekijk Geschiedenis</a>

<ul>
    {% for campagne in campagnes %}
    <li>
        <strong>{{ campagne.naam }}</strong><br>
        Start: {{ campagne.startdatum }}<br>
        Eind: {% if campagne.einddatum %}{{ campagne.einddatum }}{% else %}Doorlopend{% endif %}<br>
        Budget: €{{ campagne.budget }}<br>
        Uitgegeven: €{{ campagne.uitgegeven_bedrag }}<br>
        {% if campagne.provincie %}Provincie: {{ campagne.provincie }}{% endif %}<br>
        Strategie: {{ campagne.strategie }}<br>
        Omschrijving: {{ campagne.omschrijving }}<br>
        Gearchiveerd: {{ campagne.archived }}
    </li>
    {% empty %}
    <li>Geen campagnes gevonden.</li>
    {% endfor %}
</ul>
{% endblock %}
